//
//  release.xcconfig
//  UCWEB7
//
//  Created by zds on 10-7-12.
//  Copyright 2010 UCWEB. All rights reserved.
//
MAIN_PATH		  = $(SRCROOT)/..
#include "BasicReleaseConfig.xcconfig"
#include "share.xcconfig"

// ================Paths================
REPO_ROOT_PATH    = $(SRCROOT)/..
//ROOT_SOURCE_PATH  = $(REPO_ROOT_PATH)/src

OBJROOT = $(REPO_ROOT_PATH)/Build
SYMROOT = $(OBJROOT)/Products


// Linker Flags
UC_FRAMEWORKS		= $(FOUNDATION_FX) $(COREFOUNDATION_FX) $(SYSTEMCONFIGURATION_FX) $(COREGRAPHICS_FX) $(CFNETWORK_FX) $(QUARTZCORE_FX) $(ADDRESSBOOK_FX) $(ADDRESSBOOKUI_FX) $(AUDIOTOOLBOX_FX) $(MEDIAPLAYER_FX) $(UIKIT_FX) $(AUDIOSESSION_FX)

//OTHER_LDFLAGS        = $(OBJC_LIBRARY) $(OBJC_ALLLOAD) $(FOUNDATION_FX)
OTHER_LDFLAGS		 = $(OBJC_LIBRARY)  $(UC_FRAMEWORKS) -framework CoreLocation -weak_framework CoreTelephony //$(CONFIGURATION_BUILD_DIR)/libamuse.a $(CONFIGURATION_BUILD_DIR)/libMUI.a  $(CONFIGURATION_BUILD_DIR)/libMPageLoader.a $(CONFIGURATION_BUILD_DIR)/libMLocalParster.a
OTHER_CFLAGS         = $(UC_DEFINE_FLAG) 
OTHER_CPLUSPLUSFLAGS = $(UC_DEFINE_FLAG) 
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
