//
//  debug.xcconfig
//  UCWEB7
//
//  Created by zds on 10-7-12.
//  Copyright 2010 UCWEB. All rights reserved.
//
MAIN_PATH		  = $(SRCROOT)/..

#include "share.xcconfig"

// ================Paths================
REPO_ROOT_PATH    = $(SRCROOT)/..
//ROOT_SOURCE_PATH  = $(REPO_ROOT_PATH)/src

OBJROOT = $(REPO_ROOT_PATH)/Build
SYMROOT = $(OBJROOT)/Products

// Linker Flags
UC_FRAMEWORKS		= $(FOUNDATION_FX) $(COREFOUNDATION_FX) $(SYSTEMCONFIGURATION_FX) $(COREGRAPHICS_FX) $(CFNETWORK_FX) $(QUARTZCORE_FX) $(ADDRESSBOOK_FX) $(ADDRESSBOOKUI_FX) $(AUDIOTOOLBOX_FX) $(MEDIAPLAYER_FX)  $(UIKIT_FX) $(AUDIOSESSION_FX)

//OTHER_LDFLAGS        = $(OBJC_LIBRARY) $(OBJC_ALLLOAD) $(FOUNDATION_FX)
OTHER_LDFLAGS		 = $(OBJC_LIBRARY) $(UC_FRAMEWORKS)  -framework CoreLocation -weak_framework CoreTelephony //$(CONFIGURATION_BUILD_DIR)/libamuse.a $(CONFIGURATION_BUILD_DIR)/libMUI.a $(CONFIGURATION_BUILD_DIR)/libMPageLoader.a $(CONFIGURATION_BUILD_DIR)/libMLocalParster.a
OTHER_CFLAGS         = $(UC_DEFINE_FLAG) -D_DEBUG
OTHER_CPLUSPLUSFLAGS = $(UC_DEFINE_FLAG) -D_DEBUG

HEADER_SEARCH_PATHS     = $(STDLIB_HEADERS) $(LIB_XML_HEADER_PATH) $(UC_MUIX_HEADER_PATH)/** $(UC_UCPROFILE_HEADER_PATH) $(UC_Photograph_HEADER_PATH) $(UC_IUCWEB_APPCENTER_HEADER_PATH) $(UC_MUI_HEADER_PATH)/** $(UC_IPHONEBASE_HEADER_PATH) $(UC_IMUI_HEADER_PATH) $(UC_MCEINF_HEADER_PATH) $(UC_MCOM_HEADER_PATH) $(UC_MDOWNLOAD_HEADER_PATH) $(UC_MUCBASE_HEADER_PATH) $(UC_MUCWEBLIB_HEADER_PATH) $(UC_MUCWEBPAGE_HEADER_PATH) $(UC_MPAGELOADER_HEADER_PATH) $(UC_MLOCALPARSTER_HEADER_PATH) $(UC_IUCWEB_HEADER_PATH) $(UC_INC_HEADER_PATH) $(UC_INC_LP_HEADER_PATH) $(UC_INC_PL_HEADER_PATH) $(UC_INC_MUI_HEADER_PATH) $(UC_IUCWEB_SETTING_HEADER_PATH) $(UC_IUCWEB_SEARCH_TYPED_TV_HEADER_PATH) $(UC_IUCWEB_VOICE_RECOGNIZE_HEADER_PATH)/** $(UC_MUCBASE_VOICE_RECOGNIZE_HEADER_PATH)/** $(UC_COMMON_HEADER_PATH) $(UC_MODEL_HEADER_PATH)/** $(UC_IUCWEB_HEADER_PATH)/** $(UC_GLOBAL_HEADER_PATH)
